html, body 
  margin: 0 
  padding: 0 
  height: 100% 
  overflow: hidden 
  background: radial-gradient(circle at center, #1e1e1e, #000) 
canvas 
  display: block 
  width: 100vw 
  height: 100vh 
  position: absolute 
  top: 0 
  left: 0 
  z-index: 0 
h1
  position: relative 
  z-index: 1 
  color: #1e1e1e 
  text-align: center
  width: 100vw
